.addhead {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    p:first-child {
        float: left;
        span {
            color: #b3da29;
        }
    }
    p:last-child {
        float: right;
        button {
            width: 60px;
            height: 20px;
            background: #eeeeee;
            font-size: 12px;
            line-height: 20px;
            outline: none;
            border-radius: 5px;
        }
    }
}
.base-info {
    width: 100%;
    font-size: 12px;
    background: #f4f6f0;
    padding-bottom: 40px;
    padding-top: 40px;
    .good-info {
        margin-top: 5px;
        p {
            margin-left: 100px;
            margin-top: 20px;
            overflow: hidden;
            span {
                margin-right: 20px;
                line-height: 20px;
                float: left;
                font-weight: normal;
            }
            input {
                width: 180px;
                height: 18px;
                border: 1px solid #b3da29;
                border-radius: 4px;
                padding: 0 5px;
                font-size: 12px;
                box-sizing: border-box;
            }
            em {
                line-height: 20px;
            }
            select {
                width: 120px;
                height: 18px;
                border: 1px solid #b3da29;
                border-radius: 4px;
                padding: 0 5px;
                font-size: 12px;
                box-sizing: border-box;
            }
            textarea {
                width: 180px;
                height: 50px;
                padding: 0 10px;
                font-size: 12px;
                border: 1px solid #b3da29;
                border-radius: 4px;
                box-sizing: border-box;
                display: block;
            }
        }
        .first {
            input {
                width: 250px;
            }
        }
        .nine {
            #Date1,
            #Date2 {
                width: 100px;
            }
            #Date2 {
                margin-left: 30px;
            }
            i {
                color: #b3da29;
                margin-left: -18px;
                font-size: 12px;
            }
        }
        .mul-pic {
            width: 100%;
            overflow: hidden;
            margin-top: 20px;
            .first {
                float: left;
                margin-left: 100px;
                margin-right: 20px;
            }
            span {
                margin-left: 120px;
                float: left;
                margin-right: 20px;
                font-size: 12px;
                font-weight: normal;
            }
            input {
                float: left;
                width: 100px;
                height: 20px;
                margin-top: 8px;
                font-size: 12px;
            }
            .pic-box {
                float: left;
                .Preview {
                    border: 1px solid #b3da29;
                }
                .pics {
                    font-weight: normal;
                    //padding: 4px 15px;
                    text-align: center;
                    width: 100px;
                    height: 30px;
                    // box-sizing: border-box;
                    line-height: 30px;
                    position: relative;
                    cursor: pointer;
                    color: #888;
                    background: #fafafa;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    overflow: hidden;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    input {
                        margin-top: 0;
                        position: absolute;
                        font-size: 100px;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        filter:alpha(opacity=0);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.xq-operation {
    width: 200px;
    height: 30px;
    margin: 30px auto;
    background: #fefefe;
    input {
        width: 80px;
        height: 30px;
        border: none;
        box-shadow: 0 4px 5px #989996;
        cursor: pointer;
    }
    input+input {
        margin-left: 20px;
    }
    input:first-child {
        background: #b3da29;
        color: #fff;
        border-radius: 5px;
    }
    input:last-child {
        background: #e8e8e6;
        color: #087505;
        border-radius: 5px;
    }
}
.Preview {
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        height: 100%;
    }
}
.good-list-info {
    width: 100%;
    #item {
        ul {
            width: 100%;
            height: 50px;
            li {
                float: left;
                text-align: center;
                height: 50px;
                background: #f9fbf3;
                line-height: 50px;
                font-size: 12px;
            }
        }
    }
    .nav1 {
        width: 170px;
    }
    .nav2 {
        width: 170px;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .nav3 {
        width: 110px;
    }
    .nav4 {
        width: 160px;
    }
    .nav5 {
        width: 110px;
    }
    .nav6 {
        width: 110px;
    }
    
    .nav10 {
        width: 160px;
    }
    
    .nav12 {
        width: 100px;
    }
   
}