#exchangeDetail{
    width:100%;
    .head{
        width: 100%;
        height: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        p:first-child{
            float: left;
            .third {
                color: #b3da29;
            }
        }
        p:last-child{
            float: right;
            button {
                width: 60px;
                height: 20px;
                background: #eeeeee;
                font-size: 12px;
                line-height: 20px;
                outline: none;
                border-radius: 5px;
            }
        }
    }
    .content{
        .operation{
            text-align: center;
            padding: 20px 0;
            input{
                width: 50px;
                height: 30px;
                border-radius: 5px;
                border:none;
                box-shadow: 0 4px 5px #989996;
            }
            input:first-child{
                background: #b3da29;
                color: #fff;
            }
            input:last-child{
                background: #e8e8e6;
                color: #087505;
                margin-left: 30px;
            }
        }
        .orderInfo{
            font-size: 12px;
            background: #f9fbf3;
            border: 1px solid #e6f5b1;
            p{
                margin-left: 110px;
                margin: 0 20px 0 110px;
                height: 40px;
                line-height: 40px;
                i{
                    margin-left: 20px;
                }
            }
            b{
                margin-left: 50px;
            }
            .tit{
                height: 40px;
                background: #e2f2c6;
                line-height: 40px;
                span{
                    margin-left: 20px;
                }
            }
            div:last-child{
                padding: 20px 0 20px 0;
            }
        }
        
        .exchangeInfo{
            .tit{
                height: 40px;
                background: #e2f2c6;
                line-height: 40px;
                span{
                    margin-left: 20px;
                }
            }
            div:last-child{
                padding: 20px 0 20px 0;
            }
            font-size: 12px;
            background: #f9fbf3;
            border: 1px solid #e6f5b1;
            p{
                margin-left: 110px;
                margin: 0 20px 0 110px;
                height: 40px;
                line-height: 40px;
                i{
                    margin-left: 20px;
                }
            }
            .seven{
                input{
                    width: 60px;
                }
            }
            .nine{
                select{
                   margin-left: 20px;
                  font-size: 12px;
                  color: #666666;
                  background: #f9fbf3;
                  height: 20px;
               }
            }
            b{
                margin-left: 50px;
            }
            .iconfont{
                margin-left: 50px;
                
                cursor: pointer;
            }
            .icon-zidingyi{
                color: #118edd;
            }
            .icon-queding{
                color: green;
            }
            input{
                height: 20px;
                font-size: 12px;
            }
            img{
                width: 50px;
                height: 40px;
                margin-left: 20px;
            }
        }
        .logisticsInfo{
            .tit{
                height: 40px;
                background: #e2f2c6;
                line-height: 40px;
                span{
                    margin-left: 20px;
                }
            }
            div:last-child{
                padding: 20px 0 20px 0;
            }
            font-size: 12px;
            background: #f9fbf3;
            border: 1px solid #e6f5b1;
            p{
                margin-left: 110px;
                margin: 0 20px 0 110px;
                height: 40px;
                line-height: 40px;
                i{
                    margin-left: 20px;
                }
            }
            b{
                margin-left: 50px;
            }
            .iconfont{
                margin-left: 50px;
                
                cursor: pointer;
            }
            .icon-zidingyi{
                color: #118edd;
            }
            .icon-queding{
                color: green;
            }
            input{
                height: 20px;
                font-size: 12px;
                width: 90px;
            }
            
        }
    }
}
