body{
    background: url(../img/login/bg01.png) no-repeat center center;
    background-size: cover;
    
}
#main{
    width: 1200px;
    height: 850px;
    margin: 0 auto;
    //background: #FF0;
    .main_l{
        width: 50%;
        height: 850px;
        background: url(../img/login/logo.png) no-repeat center 300px;
        float: left;
    }
    .main_r{
        width: 50%;
        height: 850px;
        float: left;
        position: relative;
        background: url(../img/login/bg2.png) no-repeat center center;
        .count{
            background: #fff;
            width: 400px;
//          height: 180px;
//         overflow: hidden;
            margin-top: 300px;
            margin-left: 100px;
            border-radius: 10px;
            border: 1px solid #b3da29;
            .name{
                height: 60px;
                border-bottom: 1px solid #b3da29;
                line-height: 60px;
                input{
                    font-size: 16px;
                    width: 250px;
                    background: none;
                    margin-left: 24px;
                    border: none;
                }
                i{
                    font-size: 32px;
                    margin-left: 20px;
                    color: #999;
                }
                
            }
            .password{
               height: 60px;
               border-bottom: 1px solid #b3da29;
               line-height: 60px;
                input{
                    
                    font-size: 16px;
                    width: 250px;
                    background: none;
                    margin-left: 22px;
                    border: none;
                }
                i{
                    font-size: 36px;
                    margin-left: 20px;
                    color: #999;
                }
            }
            .code{
//              display: none;
                height: 60px;
                line-height: 60px;
                input{
                    width: 120px;
                    font-size: 16px;
                    background: none;
                    border: none;
                }
                
                i{
                    font-size: 20px;
                    color: #999;
                    margin-left: 20px;
                }
                img{
                    margin-top: -5px;
                }
                span{
                    font-size: 14px;
                    color: #666;
                    margin-left: 10px;
                    cursor: pointer;
                }
                span:hover{
                    color: #BD2C00;
                }
            }
        }
        .login{
            width: 400px;
            height: 50px;
            border: 1px solid #fff;
            background: #b3da29;
            margin-left: 100px;
            border-radius: 10px;
            text-align: center;
            line-height: 50px;
            color: #FFF;
            font-size: 20px;
            margin-top: 50px;
            cursor: pointer;
            position: relative;
        }
        #nts{
            position: absolute;
            top: 485px;
            left: 170px;
            color: #FF0000;
            display: none;
        }
        #pts{
            position: absolute;
            top: 485px;
            left: 170px;
            color: #FF0000;
            display: none; 
        }
        #cts{
            position: absolute;
            top: 485px;
            left: 170px;
            color: #FF0000;
            display: none;
        }
        
    }
}

